YOLODataset/
data/
*.zip
train val scripts/__pycache__/
dataset_split/
train val scripts/checkpoints/
*.pth
yolo_model/runs/
yolo_model/inference_results/
*.pt
*.log
/home/niraj-gupta/Documents/hpc/cubesat/results
/home/niraj-gupta/Documents/hpc/cubesat/download_muscadine.sh

#python cache
__pycache__/
*.pyc
*.pyo
