YOLODataset/
data/
*.zip
train val scripts/__pycache__/
dataset_split/
train val scripts/checkpoints/
*.pth
yolo_model/inference_results/
yolo_model/inference_folder/
yolo_model/training_log/
*.pt
*.log
results/
download_muscadine.sh
#python cache
__pycache__/
*.pyc
*.pyo
